From stable-bounces@linux.kernel.org  Mon Mar 20 19:35:28 2006
Date: Mon, 20 Mar 2006 22:34:58 -0500
From: Michael Krufky <mkrufky@linuxtv.org>
To: stable@kernel.org
Cc: v4l-dvb maintainer list <v4l-dvb-maintainer@linuxtv.org>, lkml <linux-kernel@vger.kernel.org>, Mauro Carvalho Chehab <mchehab@infradead.org>
Subject: [PATCH] Kconfig: VIDEO_DECODER must select FW_LOADER

From: Michael Krufky <mkrufky@linuxtv.org>

The cx25840 module requires external firmware in order to function,
so it must select FW_LOADER, but saa7115 and saa7129 do not require it.

Signed-off-by: Michael Krufky <mkrufky@linuxtv.org>
Cc: Mauro Carvalho Chehab <mchehab@infradead.org>
Signed-off-by: Chris Wright <chrisw@sous-sol.org>
---

 drivers/media/video/Kconfig |    1 +
 1 files changed, 1 insertion(+)

--- linux-2.6.15.6.orig/drivers/media/video/Kconfig
+++ linux-2.6.15.6/drivers/media/video/Kconfig
@@ -340,6 +340,7 @@ config VIDEO_AUDIO_DECODER
 config VIDEO_DECODER
 	tristate "Add support for additional video chipsets"
 	depends on VIDEO_DEV && I2C && EXPERIMENTAL
+	select FW_LOADER
 	---help---
 	  Say Y here to compile drivers for SAA7115, SAA7127 and CX25840
 	  video  decoders.
